<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%=title%></title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/stylesheets/adminstyle.css">

</head>
<body>
   
<div class="container">

   <div class="admin-product-form-container">

      <form action="/admin/product/create" method="post" enctype="multipart/form-data">
         <h3>add a new product</h3>
         <input type="text" placeholder="Product name" name="product_name" class="box" required>
         <input type="number" placeholder="Product price" name="product_price" class="box" required>
         <textarea placeholder="Product description" name="product_desc" class="box" required></textarea>
         <input type="file" accept="image/png, image/jpeg, image/jpg" name="product_image" class="box" required>
         <input type="submit" class="btn" name="add_product" value="add product">
      </form>

   </div>
</div>

</body>
</html>