<div class="page-wrapper">
    <!--Main Header-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
    
        <div class="col-xl-4 col-lg-3">
          <div class="logo">
            <a href="/">
              <img loading="lazy" class="img-fluid" src="/images/spa/body-bliss-contour-high-resolution-logo-color-on-transparent-background.png" alt="logo">
            </a>
          </div>
        </div>
        &nbsp; &nbsp; &nbsp;
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarLinks">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item @@about">
              <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item dropdown @@blogs">
              <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
    
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item @@blog" href="/services/fatcavitation">Fat Cavitation</a></li>
                <li><a class="dropdown-item @@blog" href="/services/lasertherapy">Laser Therapy</a></li>
                <li><a class="dropdown-item @@blog" href="/services/lymphaticmassage">Lymphatic Massage</a></li>
                <li><a class="dropdown-item @@blog" href="/services/consultations">Surgical reviews</a></li>
                <li><a class="dropdown-item @@blog" href="/services/skinlightening">Skin Lightening</a></li>
                <li><a class="dropdown-item @@blog" href="/services/woodtherapy">Wood Therapy</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/shopping">SHOPPING</a>
            </li>
          
            <li class="nav-item @@contact">
              <a class="nav-link" href="/contact">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!--End Main Header -->
    