<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>

  <!-- ** Mobile Specific Metas ** -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="body-bliss-contour">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="body-bliss-contour">
  <meta name="generator" content="body-bliss-contour">
  
  <meta name="theme-name" content="body-bliss-contour" />

  <!-- bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick/slick-theme.css">
  <!-- FancyBox -->
  <link rel="stylesheet" href="/plugins/fancybox/jquery.fancybox.min.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="/plugins/animation/animate.min.css">
  <!-- jquery-ui -->
  <link rel="stylesheet" href="/plugins/jquery-ui/jquery-ui.css">
  <!-- timePicker -->
  <link rel="stylesheet" href="/plugins/timePicker/timePicker.css">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>