<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>
    
    <!-- Our Story -->
    <section class="story">
      <div class="container">
            <div class="story-content">
              <h2>Our Story</h2>
              <h5 class="tagline">"For Us, By Us"</h6>
                <p>
                  Our current emphasis is on creating the optimal interactions with the best products and spa medications.
                  We are one of the the fastest growing spas in the country, and that comes with a great responsibility to make 
                  sure we are providing the best possible service to our clients, our employees, and our business owners. We 
                  appreciate your participation in the Body Bliss Contour fraternity.
                </p>
                <h6>Mission</h6>
                <p>
                  To give professional therapy to all people in order to reduce stress and anxiety, improve range of 
                  motion and circulation, enhance a state of well-being, and offer a preventive lifestyle through all 
                  services offered by the spa.
                </p>
                <h6>Vision</h6>
                <p>
                  Our goal is to become the go-to wellness spa, promoting a proactive lifestyle that 
                  benefits both our customers and employees.
                </p>
                  <h6>Body Services</h6>
                  <p>
                    With our specially designed body administrations, which include scours, cleans, wraps, and back rub treatment, you can calm down, hydrate, and reveal radiant skin.
                    Shaving after receiving any peeling treatment is not advised in order to prevent sensitivity on freshly shaven skin.
                  </p>
            </div>
      </div>
    </section>
    
<%- include('../../partials/footer'); %>