<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>
    
    <section class="section contact">
      <!-- container start -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 ">
            <!-- address start -->
            <div class="address-block">
              <!-- Location -->
              <div class="media">
                <i class="fas fa-map-marker-alt"></i>
                <div class="media-body">
                  <h3>Location</h3>
                  <p>Nairobi,<br>Kenya</p>
                </div>
              </div>
              <!-- Phone -->
              <div class="media">
                <i class="fas fa-phone"></i>
                <div class="media-body">
                  <h3>Phone</h3>
                  <p>
                    (+254) 7** *** ***
                    <br>(+254) 7** *** ***
                  </p>
                </div>
              </div>
              <!-- Email -->
              <div class="media">
                <i class="far fa-envelope"></i>
                <div class="media-body">
                  <h3>Email</h3>
                  <p>
                    inquiries@bodyblisscontour.com
                  </p>
                </div>
              </div>
            </div>
            <!-- address end -->
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="contact-new">
              <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example1" class="form-control" placeholder="Name" />
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form4Example1" class="form-control" placeholder="Email Address" />
                </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example2" class="form-control" placeholder="Subject" />
                </div>
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example3" rows="4" placeholder="Message"></textarea>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- container end -->
    </section>
    <!--====  End of Contact Form  ====-->

    <!--
      <section class="map">
      <!-- Google Map --
      <div id="map"></div>
    </section>
    -->
    
    <!--====  End of Google Map  ====-->
    
<%- include('../../partials/footer'); %>