<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>

<% if (contact1.length>0){ %>
  <div class="alert alert-success">
    <%=contact1%> &check;
  </div>
<%}%> 
    
    <section class="section contact">
      <!-- container start -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 ">
            <!-- address start -->
            <div class="address-block">
              <!-- Location -->
              <div class="media">
                <i class="fas fa-map-marker-alt"></i>
                <div class="media-body">
                  <h3>Location</h3>
                  <p>Nairobi,<br>Kenya</p>
                </div>
              </div>
              <!-- Phone -->
              <div class="media">
                <i class="fas fa-phone"></i>
                <div class="media-body">
                  <h3>Phone</h3>
                  <p>
                    (+254) 759983109-calls
                    <br>(+254) 759983109-whatsapp
                  </p>
                </div>
              </div>
              <!-- Email -->
              <div class="media">
                <i class="far fa-envelope"></i>
                <div class="media-body">
                  <h3>Email</h3>
                  <p>
                    inquiries@bodyblisscontour.com
                  </p>
                </div>
              </div>
            </div>
            <!-- address end -->
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="contact-new">
              <form action="/inquiry" method="post">
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example1" name="uname" class="form-control" placeholder="Name" required />
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form4Example1" name="uemail" class="form-control" placeholder="Email Address" required />
                </div>
              
                <!-- Subject input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example2" name="subject" class="form-control" placeholder="Subject" required />
                </div>
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example3" name="message" rows="4" placeholder="Message" required></textarea>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- container end -->
    </section>
    <!--====  End of Contact Form  ====-->
    
<%- include('../../partials/footer'); %>