<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>

<div id="g_id_onload"
  data-client_id="606009033152-bplm059hce3pa27ck9525n6bq40ovvgn.apps.googleusercontent.com"
  data-callback="handleCredentialResponse">
</div>
    
    <!--=================================
    =            Page Slider            =
    ==================================-->
    <div class="hero-slider">
      <!-- Slider Item -->
      <div class="slider-item slide1" style="background-image:url(/images/spa/massage.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Slide Content Start -->
              <div class="content style text-center">
                <h2 class="text-white text-bold mb-2" data-animation-in="slideInLeft">Get the best massage and spa comfort</h2>
                <p class="tag-text mb-4" data-animation-in="slideInRight">Bliss Body Contour is designed to help you look and feel your best. The place where you can get away to just be yourself. <br> The best way to treat your body is to take care of it first</p>
                <a href="/home/services" class="btn btn-main btn-white" data-animation-in="slideInLeft" data-duration-in="1.2">explore</a>
              </div>
              <!-- Slide Content End -->
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--====  End of Page Slider  ====-->
    
    <!--about section-->
    <section class="feature-section section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="image-content">
                        <div class="section-title text-center">
                            <h3>Why Us</h3>
                            <p class="mb-0">We offer a wide range of services to help you relax, unwind and restore your body and mind. <br/>Our team of 
                              professionals are here to help you take care of your health and well-being, whatever it may be.
                            </p>
                        </div>
    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="services.html"><img loading="lazy" src="images/spa/hcc.jpg" alt="features image"></a>
                                        </figure>
                                    </div>
                                    <h3 class="mb-2">Home based care</h3>
                                    <p>
                                      Our program is designed for busy professionals who want to maintain their health and fitness level while still having the 
                                      time and flexibility to work from home. We understand how difficult it is to make time for yourself when you're 
                                      always working.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="services.html">
                                                <img loading="lazy" src="images/spa/hpp.jpg" alt="features image">
                                            </a>
                                        </figure>
                                    </div>
                                    <h3 class="mb-2">High profile proffessionals</h3>
                                    <p>Our proffessionals are experienced in all the latest techniques, and also understand what our 
                                      customers need. Their goal is to help you feel and look your best.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="services.html">
                                                <img loading="lazy" src="images/spa/affPrice2.jpg" alt="features image">
                                            </a>
                                        </figure>
                                    </div>
                                    <h3 class="mb-2">Affordable Pricing</h3>
                                    <p>At Body Bliss Contour, we know how important it is to you to get the best value for your money.
                                       That's why we offer affordable pricing for all of our services and products.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="icon-box">
                                        <figure>
                                            <a href="services.html">
                                                <img loading="lazy" src="images/spa/duoMaass.jpg" alt="features image">
                                            </a>
                                        </figure>
                                    </div>
                                    <h3 class="mb-2">High quality services</h3>
                                    <p>High quality services is what you can expect from us. We offer everything from massages, facials, and waxing to
                                       manicures and pedicures. Our goal is to provide our clients with the highest level of service possible, so that 
                                       they feel relaxed and pampered throughout their visit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End about section-->
    
    <!--team section-->
    <section class="team-section section">
      <div class="container">
        
        <div class="section-title text-center">
          <h3>Quality & comfort at your home</h3>
          <p class="mb-0">Quality and comfort are the best way to describe Body Bliss Contour. We give you the best of both worlds,
             and we <br/> take great pride in offering our guests a place where they can relax and rejuvenate.
          </p>
        </div>
    
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="team-member">
              <img loading="lazy" src="images/spa/woodTher1.jpg" alt="image" class="img-fluid">
              
              <div class="contents text-center">
                <h4>Wood Therapy</h4>
                <p>Get that body form that you admire thanks to our quality wood therapy</p>
                <a href="/home/services/woodtherapy" class="btn btn-main">read more</a>
              </div>
            
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="team-member">
              <img loading="lazy" src="images/spa/fatCav.jpg" alt="image" class="img-fluid">
              
                <div class="contents text-center">
                <h4>Fat Cavitation</h4>
                <p> Reduce cellulite and adipose fat with our modern tools</p>
                <a href="/home/services/fatcavitation" class="btn btn-main">read more</a>
              </div>
              
              
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="team-member">
              <img loading="lazy" src="images/spa/laserTher2.webp" alt="image" class="img-fluid">
              
                <div class="contents text-center">
                <h4>Laser Therapy</h4>
                <p>Heal the sprains and strains. Get immediate repair of superficial injuries</p>
                <a href="/home/services/lasertherapy" class="btn btn-main">read more</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End team section-->
    
    <!--testimonial-section-->
    <section class="testimonial-section" style="background: url(images/testimonials/1.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <h3>Testimonials</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="testimonial-carousel">
              <!--Slide Item-->
              <div class="slide-item">
                <div class="inner-box text-center">
                  <div class="image-box">
                    <figure>
                      <img loading="lazy" src="images/spa/per1.jpg" alt="">
                    </figure>
                  </div>
                  <h6>name1 name2</h6>
                  <p class="mb-0">I enjoyed getting a facial Body Care. The staff is really courteous and friendly. Spa treatments are 
                    incredibly confodential, so mine was.... just exquisite.
                  </p>
                  
                </div>
              </div>
              
              <!--Slide Item-->
              <div class="slide-item">
                <div class="inner-box text-center">
                  <div class="image-box">
                    <figure>
                      <img loading="lazy" src="images/spa/per2.jpg" alt="">
                    </figure>
                  </div>
                  <h6>name1 name2</h6>
                  <p class="mb-0">You guys are AWESOME! Without a doubt, your services are the best . Every employee at the spa makes customers feel 
                    unique, and I believe it is necessary to experience exceptional treatment occasionally.
                  </p>
                </div>
              </div>
              <!--Slide Item-->
              <div class="slide-item">
                <div class="inner-box text-center">
                  <div class="image-box">
                    <figure>
                      <img loading="lazy" src="images/testimonials/1.png" alt="">
                    </figure>
                  </div>
                  <h6>name1 name2</h6>
                  <p class="mb-0">
                    One of the most crucial things I can do for my health is to receive frequent lymph drainage massages. I wasn't 
                    aware that my lymph system was overworked until Body Bliss Contour helped.
                  </p>
                </div>
              </div>
              <!--Slide Item-->
              <div class="slide-item">
                <div class="inner-box text-center">
                  <div class="image-box">
                    <figure>
                      <img loading="lazy" src="images/testimonials/3.png" alt="">
                    </figure>
                  </div>
                  <h6>name1 name2</h6>
                  <p class="mb-0">
                    How wonderful, I reserved services for my kid and I and wasn't disappointed at all. The entire 
                    experience was outstanding, including the treatments and products
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End testimonial-section-->

<%- include('../../partials/footer'); %>