<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>
    
    <!--Service Section-->
    <section class="service-section bg-gray section">
      <div class="container">
        <div class="section-title text-center">
          <h3>Our Services</h3>
          <p>Body Bliss Contour targets customers from all over the world to experience an unforgetable event of healthy body care, professional
            treatment with a blend of modern and traditional tools aimed to give you your dream experience.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="items-container">
              <div class="item">
                <div class="inner-box">
                  <div class="img_holder">
                    <img loading="lazy" src="/images/spa/istockphoto-502131823-612x612.jpg" alt="images" class="img-fluid">
                  </div>
                  <div class="image-content text-center">
                    <span><a href="/services/lymphaticmassage">READ MORE</a></span>
                      <h6>Lymphatic massage</h6>
                    <p>Unblock your lymphatic system and eliminate the swell and excess fluids</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="inner-box">
                  <div class="img_holder">
                    <img loading="lazy" src="/images/spa/istockphoto-187438931-612x612.jpg" alt="images" class="img-fluid">
                  </div>
                  <div class="image-content text-center">
                    <span><a href="/services/fatcavitation">READ MORE</a></span>
                      <h6>Fat Cavitation</h6>
                    <p>Reduce cellulite and adipose fat with our modern tools</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="inner-box">
                  <div class="img_holder">
                      <img loading="lazy" src="/images/spa/istockphoto-1270244673-612x612.jpg" alt="images" class="img-fluid">
                  </div>
                  <div class="image-content text-center">
                    <span><a href="/services/woodtherapy">READ MORE</a></span>
                      <h6>Wood Therapy</h6>
                    <p>Get that body form that you admire thanks to our quality wood therapy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      <div class="row">
        <div class="col-lg-12">
          <div class="items-container">
            <div class="item">
              <div class="inner-box">
                <div class="img_holder">
                    <img loading="lazy" src="/images/spa/istockphoto-1127497164-612x612.jpg" alt="images" class="img-fluid">
                </div>
                <div class="image-content text-center">
                  <span><a href="/services/lasertherapy">READ MORE</a></span>
                    <h6>Laser Therapy</h6>
                  <p>
                    Heal the sprains and strains. Get immediate repair of superficial injuries
                    through laser therapy
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="inner-box">
                <div class="img_holder">
                    <img loading="lazy" src="/images/spa/istockphoto-1189795103-612x612.jpg" alt="images" class="img-fluid">
                </div>
                <div class="image-content text-center">
                  <span><a href="/services/skinlightening">READ MORE</a></span>
                    <h6>Skin Lightening</h6>
                  <p>Looking for a lasting and amazing glow and shine wherever you go? With us around, search no more</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="inner-box">
                <div class="img_holder">
                    <img loading="lazy" src="/images/spa/istockphoto-1182461584-612x612.jpg" alt="images" class="img-fluid">
                </div>
                <div class="image-content text-center">
                  <span><a href="/services/consultations">READ MORE</a></span>
                    <h6>Surgical reviews</h6>
                    <p>Our medics are here to give you the best surgical aftercare ranging from consultations to reviews</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!--End Service Section-->

<%- include('../../partials/footer'); %>
