<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>

<div class="signup">
    <div class="container">
        <form action="/auth/signup" method="post" onsubmit="return validateSignUp()">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            
            <!-- Username input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Username</label>
                <input type="text" id="username" name="uname" class="form-control" required />
              </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email address</label>
              <input type="email" id="email" name="uemail" class="form-control" required/>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="password" name="upass" class="form-control" required />
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Confirm Password</label>
                <input type="password" id="confirmPassword" name="conpass" class="form-control" required />
              </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
          
            <!--
              <div class="text-center">
              <p>or</p>
              <button type="button" class="btn btn-floating mx-1">
                <div class="g_id_signin" id="g_id_signin" data-type="standard"></div>
              </button>
            </div>
            -->

          </form>
    </div>
</div>

<%- include('../../partials/footer'); %>