<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>

<div class="section contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 "></div>

        <div class="col-lg-4 col-md-5 ">
          <div class="container">
            <form action="/auth/confirm-signup" method="post">
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email Address</label>
                <input type="email" id="email" name="uemail" class="form-control" required />
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="password">One time password</label>
                <input type="password" id="otpass" name="otpass" class="form-control" required />
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="password">New password</label>
                <input type="password" id="newpass" name="newpass" class="form-control" minlength="8" maxlength="12" required />
              </div>
            
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </form>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 "></div>
      </div>
        
    </div>
</div>